@import "variables.styl"

background = #22272e
dark-background = #282e36

/* colors from https://github.com/highlightjs/highlight.js/blob/3e628edbe34d2ffb9166ff365f614f56621597be/src/styles/github.css */
main-color = #adbac7
language-color = #f47067
delete-color = #ffd8d3
delete-background = #78191b
function-color = #dcbdfb
id-color = #6cb6ff
meta-string-color = #96d0ff
symbol-color = #f69d50
formula-color = #768390
pseudo-color = #8ddb8c
addition-background = #1b4721
bullet-color = #eac55f


table.highlight, td, th
    border: none

figure.highlight
    margin: 0.5rem 0
    overflow: auto
    font-family: monospace-font
    font-size: 0.8rem
    background-color: background

    > table
        border-collapse: collapse
        
        &, td, th
            border: none
    
    figcaption
        padding: 0.65rem 0.65rem 0.7rem
        font-weight: 500
        background-color: dark-background
        color: formula-color

        *
            margin: 0.5ch
    
    td.gutter
        position: sticky
        left: 0
        padding: 0.75rem 1rem
        background-color: dark-background
        color: formula-color
    td.code
        padding: 0 0.75rem
    
    pre, code
        margin: 0
        padding: 0
        border-radius: 0
        background-color: transparent
/* modified version of https://github.com/highlightjs/highlight.js/blob/3e628edbe34d2ffb9166ff365f614f56621597be/src/styles/github.css */

/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/

td.code pre,
.hljs {
    color: var(--main-color);
}

td.code ., .hljs-
    &doctag, &keyword, &meta &keyword,
    &template-tag, &template-variable, &type, &variable.language_
        /* prettylights-syntax-keyword */
        color: language-color

    &title, &title.class_, &title.class_.inherited__, &title.function_
    /* prettylights-syntax-entity */
        color: function-color

    &attr, &attribute, &literal, &meta, &number, &operator,
    &variable, &selector-attr, &selector-class, &selector-id
        /* prettylights-syntax-constant */
        color: id-color
    
    &regexp, &string, &meta .string
        /* prettylights-syntax-string */
        color: meta-string-color

    &built_in, &symbol
        /* prettylights-syntax-variable */
        color: symbol-color

    &comment, &code, &formula
        /* prettylights-syntax-comment */
        color: formula-color
    
    &name, &quote, &selector-tag, &selector-pseudo
        /* prettylights-syntax-entity-tag */
        color: pseudo-color

    &subst
        /* prettylights-syntax-storage-modifier-import */
        color: main-color
    
    &section
        /* prettylights-syntax-markup-heading */
        color: id-color
        font-weight: bold
    
    &bullet
        /* prettylights-syntax-markup-list */
        color: bullet-color
    
    &emphasis
        /* prettylights-syntax-markup-italic */
        color: main-color
        font-style: italic

    &strong
        /* prettylights-syntax-markup-bold */
        color: main-color
        font-weight: bold
    
    &addition
        /* prettylights-syntax-markup-inserted */
        color: pseudo-color
        background-color: addition-background
    
    &deletion
        /* prettylights-syntax-markup-deleted */
        color: delete-color
        background-color: delete-background
    
    &marked 
        background-color: mark-color

code
    font-family: monospace-font
    font-size: 0.8rem
    background-color: background