.theme-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.theme-list li {
  margin: 0.25rem 0;
}
.theme-list li a {
  color: #ededed;
  position: relative;
  display: block;
  text-decoration: none;
}
.theme-list li a::after {
  content: "";
  border: 1px dashed #a6a6a6;
  position: absolute;
  bottom: 1ch;
  left: 0;
  width: 100%;
  z-index: -1;
}
.theme-list li a span {
  background-color: #2f3841;
  padding-right: 0.5rem;
}
.posts-list li {
  display: flex;
  gap: 0.5rem;
}
.posts-list span.side-info {
  color: #a6a6a6;
  flex-shrink: 0;
}
.posts-list a.post-title {
  flex-grow: 1;
}
